@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
.custom-yellow {
  background-color: #fff;
}

#about {
  background-image: url('./assets/background.jpg');
}