@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
.custom-yellow {
  background-color: #fff;
}

#about {
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
}

@media (max-width: 768px) {
  #about {
    background-image: url('./assets/background-mobile.jpg');
    background-attachment: scroll;
  }
}